<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>741021114296-m4b7t42asjl6crleeeng544orl4me574.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.741021114296-m4b7t42asjl6crleeeng544orl4me574</string>
	<key>API_KEY</key>
	<string>AIzaSyAMBPgPW5sbGBsn5DBTbrpjU3sdoWwR8ys</string>
	<key>GCM_SENDER_ID</key>
	<string>741021114296</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.perafo.fmapp</string>
	<key>PROJECT_ID</key>
	<string>perafo-fm</string>
	<key>STORAGE_BUCKET</key>
	<string>perafo-fm.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:741021114296:ios:f770dae0c02b4830cff94d</string>
</dict>
</plist>